<h3><%= @user.username %></h3>
<p>Role: <%= @user.role %></p>
<p>Properties:</p>
<ul>
  <% if @user.properties.length == 0 %>
    <li><%= @user.username %> has not (yet) added any properties.</li>
  <% else %>
    <% @user.properties.each do |property| %>
      <li><%= link_to property.name, property_path(property) %></li>
    <% end %>
  <% end %>
</ul>
Reviews:
<ul>
  <% if @user.reviews.length == 0 %>
    <li><%= @user.username %> has not (yet) reviewed any properties.</li>
  <% else %>
    <% @user.reviews.each do |review| %>
      <li>
        <p><b><%= review.header %></b><br />
        <%= review.body %><br />
        Reviewed by: <%= review.user.username %><br />
        Reviewed on: <%= review.created_at.strftime("%m/%d/%Y") %>
      </li>
    <% end %>
  <% end %>
</ul>

<% if @user.role == 'admin' %>
  <%= form_for @user do |f|%>
    <%= f.hidden_field :role, value: 'member' %>
    <%= f.submit "Revoke Admin Privileges", class: 'btn btn-danger btn-sm', confirm: "Is it so bad that #{@user.username} no longer deserves these privileges?" %>
  <% end %>
<% else %>
  <%= form_for @user do |f|%>
    <%= f.hidden_field :role, value: 'admin' %>
    <%= f.submit "Grant Admin Privileges", class: 'btn btn-warning btn-sm', confirm: "Are you certain giving #{@user.username} Admin privileges is wise?" %>
  <% end %>
<% end %>
