<%= form_for @property do |f|%>
  <%= render 'layouts/errors', object: @property %>
  <fieldset>
    <div class='col-lg-3'>
      <legend>Property</legend>
      <div class='form-group'>
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>
      <div class='form-group'>
        <%= f.label :description %><br />
        <%= f.text_area :description, class: 'form-control' %>
      </div>
      <div class='form-group'>
        <%= f.label :location %><br />
        <%= f.text_field :location, class: 'form-control' %>
      </div>
      <div class='form-group'>
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>
      <div class='form-group'>
        <%= f.label :rental_type %><br />
        <%= f.select :rental_type, options_for_select(["Entire Place", "Private Room", "Shared Room"]), class: 'form-control' %>
      </div>
      <div class='form-group'>
        <%= f.label :price_day, "Price per Day" %><br />
        <%= f.text_field :price_day, class: 'form-control' %>
      </div>
      <div class='form-group'>
        <%= f.label :price_week, "Price per Week" %><br />
        <%= f.text_field :price_week, class: 'form-control', placeholder: "Optional" %>
      </div>
      <div class='form-group'>
        <%= f.label :price_month, "Price per Month" %><br />
        <%= f.text_field :price_month, data: {role: 'money', a_sep: ',', a_dec: '.'}, class: 'form-control', placeholder: "Optional" %>
      </div>
      <div class='form-group'>
        <%= f.submit "Save Property", class: 'btn btn-success btn-sm' %>
      </div>
    </div>
  </fieldset>
<% end %>
