<h3><%= @property.name %></h3>
<p><span class="descriptiontext">Description: <br /></span><%= @property.description %></p>
<p><span class="descriptiontext">Location: <br /></span><%= @property.location %></p>
<p><span class="descriptiontext">Type of Rental: <br /></span><%= @property.rental_type %></p>


<% if @property.pictures.length > 0 %>
  <p><span class="descriptiontext">Pictures of this Property:<br /></span><% @property.pictures.each do |picture| %>
    <%= image_tag picture.image(:medium) %>
  <% end %></p>
<% end %>
<p><span class="descriptiontext">Price per Day:</span> <%= humanized_money_with_symbol @property.price_per_day %></p>
<% if @property.price_week %>
  <p><span class="descriptiontext">Price per Week:</span> <%= humanized_money_with_symbol @property.price_per_week %></p>
<% end %>
<% if @property.price_month %>
  <p><span class="descriptiontext">Price per Month:</span>  <%= humanized_money_with_symbol @property.price_per_month %></p>
<% end %>
<p><%= link_to "Return to GlobalFriends Home", root_url, class: 'btn btn-success btn-sm' %>
<% if current_user == @property.user %>
  <%= link_to "Edit Your Listing", edit_property_path(@property), class: 'btn btn-warning btn-sm' %>
<% end %>
